*{
 margin: 0;

font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}
header{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80px;
    display: flex;
    
    box-shadow: 0 4px 10px rgb(224, 224, 224);
    
}
.logo-header{
    margin-left: 50px;
    width: 110px;
    height: 100%;
    background-image: url(../img/logo.svg);
}
.menu-header{
display: flex;
justify-content: center;
width: 80%;


}
.elem-menu{
padding: 25px;
width: 200px;
transition: all 0.3s ease-out;
}
.elem-menu:hover{
    background: rgba(255, 226, 94, 0.459);
 
}
.link-header{
    font-size: 25px;
    text-decoration: none;
    color: black;
}
.slogan{
    padding: 25px;
    text-align: right;
    font-size: 15px;
  
}

main{
    margin-left: auto;
    margin-right: auto;

    width: 80%;
height: auto;
  
}
.zagolovok{
    text-align: left;
    font-size: 35px;
    font-weight: 700;
    margin: 50px 0 25px 25px;
}

.popular-row{
    display: flex;
    justify-content: center;
}

.popular-card{
    margin: 50px;
    padding: 10px;
    width: 250px;
    height: 350px;
    text-align: left;
    box-shadow:0px 0px 15px 1px black;
}

.form{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.login-input{
    height: 30px;
    margin: 20px 5px;
}
.login-button{
    height: 30px;
    margin: 20px 5px;
    cursor: pointer;
}

.prof{
    margin-top: 200px;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    box-shadow:0px 0px 15px 1px black;
}

.prof>h2{
    margin: 10px;
}
.link-btn{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.review-item{
    width: 1000px;
    font-size: 20px;
    height: 50px;
    box-shadow:0px 0px 15px 1px black;
    margin: 25px;
    text-align: left;
    padding: 5px 15px;
}

.prem{
    text-align: left;
    font-size: 20px;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 0;
    line-height: 2;
}



.banner {
    background-color: #dbca34;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    margin: 150px 0 0 0 ;
}

.banner h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.banner p {
    font-size: 18px;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    background-color: #fff;
    color: #3498db;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #2980b9;
    color: #fff;
}